body{
    
    
    background-image: url(/static/images/font2.png);
    background-size: cover;
    background-repeat: no-repeat;
        

   
    


}
.bg-dark{
    background-color: #404040 	!important;
}
.navbar-brand{
    font-weight: bold;
    font-family: monospace;
    font-size: 20px;
}

.navbar-dark .navbar-nav .nav-link{
    font-weight: 700;
    font-size: 14px;
    
}

.navbar-dark .navbar-nav .nav-item{
    margin: 0 15px;
}
